/* ------------------------------- Google Fonts -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 1440px;
    background-color: #fff;
    padding: 50px 100px;
}

.display-flex {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.flex-ratio1 {
    flex: 1;
}

.flex-ratio2 {
    flex: 2;
}

.btn-style {
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border: none;
    color: #fff;
    padding: 10px 24px;
    border-radius: 41px;
    font-weight: 700;
    font-size: 16px;
    margin: 30px 0px;
}

.btn-style i {
    margin-left: 10px;
}

/* ------------------------------- logo and menu style -------------------------------------- */
.logo-menu-design {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #3A3A3A;
}

.main-menu>ul {
    column-gap: 35px;
}

.main-menu>ul>li>a {
    color: #3A3A3A;
    font-size: 16px;
}

/* ------------------------------- header style -------------------------------------- */
.main-header {
    margin: 50px 0px;
    justify-content: space-between;
    align-items: center;
}

.header-info>h1 {
    font-size: 52px;
    color: #3A3A3A;
}

.header-info>p {
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 16px;
}

.header-img {
    display: flex;
    justify-content: end;
}

.header-img>div {
    width: 475px;
    height: 475px;
    background: url(images/Circle\ design.svg);
    background-repeat: no-repeat;

}

.header-img>div>img {
    width: 440px;
    height: 414px;
    margin-top: 25px;
}

/* ------------------------------- popular marketing website style -------------------------------------- */
.popular-website {
    width: 1110px;
    margin: 0px auto;
    padding: 40px 0px;
}

.popular-website hr {
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    height: 1px;
    border: none;
}
.popular-website > .website-logo {
    justify-content: center;
    align-items: center;
}
.popular-website > .website-logo > li {
    width: 84px;
    height: 26px;
    margin: 36px 55px;
}

/* ------------------------------- main part style -------------------------------------- */
